body{width: 100%}
header{  display: block;
  background: #fefcea; /* Для старых браузров */
    background: linear-gradient(to top, #B0C4DE   , #A52A2A  );

       text-align:center;
       
       min-width:100%;
       font-size:xx-large;
       border:medium groove black;
       border-color: #800000   #800000  #483D8B   #483D8B  ;
      border-width: 5px;
     box-shadow: inset 0 0 6px, 
             0.4em 0.4em 5px rgba(122,122,122,0.5)}
ul#Menu{font-size:1em;
        background:#B0C4DE   ;
        width:10%;
        border:medium inset black;
        margin-top:0;
          float: left;
        border-top:none;
        border-right:none;
      box-shadow: inset 0 0 6px, 
             0.4em 0.4em 5px rgba(122,122,122,0.5) }
ul li{list-style:none;
      padding:5px;
      background:white;
    
      text-align:center;
      color:black;
      border:medium dotted black;
      cursor:pointer;}
ul li:hover{color:white;
            background:black;}
ul li:active{color:black;
             background:white;}
          a{text-decoration:none;}
#center{width: 85%;
	    height: 100%;
	    margin: 0px 0px 0px 0px;
	    background: #2F4F4F;
	    float:left;
	    border:medium groove black;
	    border-top:none;
      border-style: solid double none double;
      border-color: #800000   #800000  #483D8B   #483D8B 
      box-shadow: inset 0 0 6px, 
             0.4em 0.4em 5px rgba(122,122,122,0.5)
  background: #fefcea; /* Для старых браузров */
     background:linear-gradient(45deg, #800000  , #C5DDE8)}
#center img{width: 300px;
            height: 250px;
            margin:10px 10px 10px 0px;
            border-radius: 0 10px;
            text-align:center;
            box-shadow: inset 0 0 6px, 
             0.4em 0.4em 5px rgba(122,122,122,0.5);
            cursor:pointer;}
          a{text-decoration:none;}}
