body { font-family : serif ;
стиль шрифта : курсив ;
преобразование текста : использование заглавных букв ;
фоновое изображение : URL ( https://image.freepik.com/free-photo/no-translate-detected_24972-153.jpg );
переполнение : прокрутка ;};
}
ДИВО { границы : 6 точки  канавки  красной ;
цвет фона : красный ; ;
ширина : 35 % ;
высота : 800 пикселей ;
}
div  div { max-width : 25 % ;
высота : 300 пикселей ;
рамка : 5 пикселей  сплошного  зеленого цвета ;
цвет фона : пудрово-синий ;
положение : относительное ;
верх : 20 пикселей ;
слева : 1 px ;
background-image : url ( https://24tv.ua/resources/photos/news/610x344_DIR/201811/1064001.jpg?201811172310 );
переполнение : прокрутка ;}


   .block1 {
   	фон : # fc0 ;
    набивка : 30 пикселей ;
    высота : 250 % пикселей}
   .block2 {
  	фон : #fff ;
  	ширина : 50 % ;
  	заполнение : 100 пикселей ; }
