body {font-family: serif ;
font-style: italic;
text-transform:capitalize;
background-image: url(https://image.freepik.com/free-photo/no-translate-detected_24972-153.jpg); 
overflow: scroll;} ;
}
div {border:6px groove red ;
background-color: red ; ;
width: 35%;
height: 800px ;
}
div div {max-width: 25%;
height:300px;
border: 5px solid green;
background-color:powderblue;
position:relative;
top: 20px;
left: 1px;
background-image: url(https://24tv.ua/resources/photos/news/610x344_DIR/201811/1064001.jpg?201811172310); 
overflow: scroll;}


   .block1 {
   	background: #fc0; 
    padding: 30px; 
    height: 250%px }
   .block2 {
  	background: #fff; 
  	width: 50%; 
  	padding: 100px; }
